$font-stack:    'Ubuntu', sans-serif;

$primary-color: #000;
$secondary-color: #337ab7;
$tertiary-color: #2c3e50;


$primary-container-padding: 30px;
$primary-margin-seperator: 20px;

$white: #fff;

$highlighted-font-size: 1.25em;
$highlight-color-1: pink;
$highlight-color-2: red;
$highlight-color-3: blue;
$highlight-color-4: orange;

// media break points

$break-xs: 320px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;